nav {
  background-color: white;
  white-space: nowrap;
	text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
	margin-top: 18px;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
	text-decoration: none;
	color: #000;
}

nav ul li a:visited {
  color: #000;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
	text-align: center;
}

.box-left {
border: 1px solid #000;
border-right: 0px;
margin: 0;
padding: 0;
background-color: #FFF;
height: 34px;
}

.box-right {
border: 1px solid #000;
border-left: 0px;
margin: 0;
padding: 0;
background-color: #FFF;
height: 34px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
	border: 1px solid #000;
  text-align: center;
  width: 158px;
  color: #fff;
  background: #000;
  padding: 8px;
	text-decoration: none;
}

a.signup_button:hover {
	margin-left: auto;
  margin-right: auto;
  display: block;
	border: 1px solid #000;
  text-align: center;
  width: 158px;
  color: #000;
  background: #FFF;
  padding: 8px;
	text-decoration: none;
}

a {
	color: #00F;
	text-decoration: underline;
}

a:hover {
	color: #00F;
	text-decoration: none;
	font-weight: bold;
}