nav {
  background-color: white;
  white-space: nowrap;
	text-align: center;
}

nav a {
	color: #00F;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	color: #000;
	font-weight: bold;
	text-decoration: overline;
}

footer {
	text-align: center;
}

.box-left {
border: 1px solid #000;
border-right: 0px;
margin: 0;
padding: 0;
background-color: #FFF;
height: 34px;
}

.box-right {
border: 1px solid #000;
border-left: 0px;
margin: 0;
padding: 0;
background-color: #FFF;
height: 34px;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
	border: 1px solid #000;
  text-align: center;
  width: 158px;
  color: #FFF;
  background: #000;
  padding: 8px;
	text-decoration: none;
	font-weight: bold;
}

.field_with_errors {
  background-color: #F00;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  border: 2px solid #F00;
  padding: 7px;
	padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
	margin-top: 10px;
  background-color: #FFF;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #F00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
	margin-top: 10px;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}