<h1>Welcome to pulsar!</h1>
<p>
	A fast, powerful way to follow eSports.
	<br><br>
	<%= link_to "Sign Up Now!", signup_path, :class => "signup_button" %>
	<br>
	Already have an account? <%= link_to "Log In", "#" %>
</p>