<header class = "span-24 last">
	<div class = "span-6 box-left">&nbsp;</div>
	<div class = "span-12">
		<%= link_to logo, root_path %>
	</div>
	
	<nav class="span-6 last box-right">
		<ul>
			<li><%= link_to "Sign Up", signup_path %></li>
			or
			<li><%= link_to "Log In", "#" %></li>
		</ul>
	</nav>
	
	<div class = "span-24 last">&nbsp;</div>
	
</header>