<header class = "span-24 last">
	<div class = "span-6 box-left">&nbsp;</div>
	<div class = "span-12">
		<%= link_to logo, root_path %>
	</div>
	
	<nav class="span-3 box-right">
		New User? <br />
		<%= link_to "Sign Up", signup_path %>
	</nav>
	
	<nav class = "span-3 last box-right">
		Existing User? <br />
		<%= link_to "Log In", "#" %>
	</nav>
	
	<div class = "span-6">&nbsp;</div>
	
	<div class = "span-12">
		<% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
	</div>
	
	<div class = "span-6 last">&nbsp;</div>
	
</header>