<header>
	<!-- <%= image_tag(" ", :alt => " ", :class => " ") %> -->
	<nav class=" ">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Sign in", '#' %></li>
		</ul>
	</nav>
</header>